body{
    margin: 0;
    padding: 0;
    background: #E7DDD3;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #D5994D;
    padding: 0 40px;
}

.logo h1{
    margin: 0;
    color: #E7DDD3;
}

.logo a{
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    margin: 0 20px;
    color: #E7DDD3;
}

nav a:hover {
    color: #E7DDD3;
}

.container{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

.text{
    display: flex;
    width: 532px;
    height: 142px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.dlsu-pusa-forums{
    color: #716D38;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.mimiws{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mimiw-1{
    background: url('images/mimiw1.png');
    background-size: cover;
    width: 213px;
    height: 336px;
    flex-shrink: 0;
    margin-block-end: 30px;

    border-radius: 15px;
    border: 1px solid #000;
}

.mimiw-2{
    background: url('images/mimiw2.jpg');
    background-size: cover;
    width: 213px;
    height: 336px;
    flex-shrink: 0;
    margin-inline: 30px;

    border-radius: 15px;
    border: 1px solid #000;
}

.mimiw-3{
    background: url('images/mimiw3.jpg');
    background-size: cover;
    width: 213px;
    height: 336px;
    flex-shrink: 0;
    margin-inline-end: 30px;

    border-radius: 15px;
    border: 1px solid #000;
}

.mimiw-4{
    background: url('images/mimiw4.jpg');
    background-size: cover;
    width: 213px;
    height: 336px;
    flex-shrink: 0;

    border-radius: 15px;
    border: 1px solid #000;
}