body{
    margin: 0;
    padding: 0;
    background: #E7DDD3;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #D5994D;
    padding: 0 40px;
}

.logo h1{
    margin: 0;
    color: #E7DDD3;
}

.logo a{
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    margin: 0 20px;
    color: #E7DDD3;
}

nav a:hover {
    color: #E7DDD3;
}

.about-container{
    display: flex;
    margin-top: 40px;
    width: 1108px;
    height: 710px;
    margin-inline-start: 150px;
    flex-direction: column;

    border-radius: 30px 30px 0px 0px;
    background: #716D38;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

@media (max-width: 1200px) {
    .about-container {
        width: 90%;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }
}

@media (max-width: 768px) {
    .about-container {
        width: 90%;
        margin-inline-start: auto;
        margin-inline-end: auto;
        height: auto;
    }
}

.about {
    display: flex;
    margin-inline: 107px;
    margin-bottom: unset;
    flex-wrap: wrap;
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
}

.about-text {
    display: flex;
    width: 900px;
    height: 835px;
    color: #FFF;
    margin-left: 106px;
    font-size: 24px;
    font-weight: lighter;
}

@media (max-width: 1200px) {
    .about {
        font-size: 48px;
    }

    .about-text {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .about {
        font-size: 36px;
    }

    .about-text {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}